@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

    --grey-color: rgb(219, 219, 219);
    --black-color: rgb(0, 0, 0);
    --medium-blue-color: rgb(28, 180, 218);
    --white-color: rgb(255, 255, 255);
    --light-color: rgb(112, 245, 255);
    --dark-color: #266996;
    --transition: all 300ms ease-in-out;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-image: url(/src/img/questionmark-background.jpeg);
    background-position: center;
}

.controls {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {
    position: relative;
    top: 300px;
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;    
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--medium-blue-color);
    color: var(--blue-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbbbbb;
}

.startBtn:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbbbbb;
}

.hide {
    display: none;
}

.wrapper{
    background: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    height: 680px;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}
.quiz-title{
    text-align: center;
    font-size: 2rem;
}
.quiz-score{
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 5px solid var(--dark-color);
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin: .5rem auto 1rem auto;
    color: var(--black-color);
    background-color: var(--white-color);
}
.quiz-question{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.quiz-question .category{
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--black-color);
    padding: .2rem .4rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
    display: inline-block;
}
.quiz-options{
    list-style-type: none;
    margin: 1rem 0;
}
.quiz-options li{
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--medium-blue-color);
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 4px 0 0 #377faf;
    transition: var(--transition);
}
.quiz-options li:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-options li:active{
    transform: scale(0.97);
}
/* js related */
.selected{
    background-color: var(--grey-color)!important;
    color: var(--dark-color)!important;
    border-color: var(--grey-color)!important;
    box-shadow: 0 4px 0 0 #01fc0e!important;
}
.quiz-foot button{
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;    
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--medium-blue-color);
    color: var(--blue-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-foot button:hover{
    background-color: #e6e6e6;
    box-shadow: 0 4px 0 0 #a7a7a7;
}
.quiz-foot button:active{
    transform: scale(0.95);
}
#play-again{
    display: none;
}
#result{
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}
#result i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--light-purple-color);
    color: var(--light-color);
}

aside {
    
    justify-content: left;
    margin-left: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin: 5px;
}



@media(max-width: 678px){
    .quiz-title{
        font-size: 1.6rem;
    }
    .wrapper{
        margin: 3rem 0;
        width: 90%;
        height: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .quiz-foot button{
        font-size: 1rem;
    }
}